$title-mobile: 2.6rem;
$info-mobile: 2rem;
$line-heigt-general: 3.6rem;
$padding-top-bottom-header: 10vh;
$padding-left-right-header: 5vw;

//BGs
$bg-primary: #5648f9;
$bg-seconday: #f96e2c;
$color-primary: #fcbdbc;
$color-secondary: white;
