$main-title-mobile: 2.8rem;
$main-title-desktop: 3.8rem;
$title-mobile: 2.6rem;
$titleSection-mobile: 2rem;
$titleSection-desktop: 2.6rem;
$info-mobile: 1.5rem;
$info-desktop: 2rem;
$line-heigt-general: 3.6rem;
$padding-top-bottom-header: 10vh;
$padding-left-right-header: 5vw;

//BGs
$bg-primary: #5648f9;
$bg-seconday: #f96e2c;
$bg-alternative: #ff8c88;
$color-primary: #fcbdbc;
$color-secondary: white;

//Paddin margin
$imageText-padding: 1rem;

//Animation
$time-animation: 600ms;
$delay-one: 200ms;
$delay-two: 600ms;
