//Title & text
$main-title-mobile: 2.8rem;
$main-title-desktop: 3.8rem;
$title-mobile: 2.6rem;
$titleSection-mobile: 2rem;
$titleSection-desktop: 2.6rem;
$info-mobile: 1.5rem;
$info-desktop: 2rem;
$line-heigt-general: 3.6rem;

//shadows
$text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5), -1px -1px 1px rgb(0, 0, 0, 0.5),
  1px 1px 1px rgb(0, 0, 0);

//Paddins
$padding-top-bottom-header: 10vh;
$padding-left-right-header: 5vw;

//BGs
$bg-primary: #5648f9;
$bg-seconday: #f96e2c;
$bg-alternative: #ff8c88;

//color Text
$color-text-blue: #5648f9;
$color-text-black: black;
$color-text-peach: #ff8c88;

//Paddin margin
$imageText-padding: 1rem;

//Animation
$time-animation: 600ms;
$delay-one: 200ms;
$delay-two: 600ms;

//Menu
$link-text-mobile: 1.2rem;
$link-text-desktop: 2rem;
